<h1><span ng-if="!computer.name">New Computer</span><span ng-if="computer" ng-bind="computer.name"/></h1>

<form name="computerForm">
<div class="container">
    <div class="row">
        <div class="col-lg-2 left-col">Name</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.name" placeholder="Computer name" ng-required="true" ng-pattern="/.*/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">Price</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.price" placeholder="Price" ng-required="true" ng-pattern="/^[0-9\.,]+$/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">CPU</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.cpu" placeholder="CPU" ng-required="true" ng-pattern="/.*/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">GPU</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.gpu" placeholder="GPU" ng-required="true" ng-pattern="/.*/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">RAM</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.ram" placeholder="" ng-required="true" ng-pattern="/^[0-9]+$/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">Mainboard</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.mainboard" placeholder="" ng-required="true" ng-pattern="/.*/"/></div>
    </div>
    <div class="row">
        <div class="col-lg-2 left-col">Drive</div>
        <div class="col-lg-10"><input type="text" ng-model="computer.drive" placeholder="" ng-required="true" ng-pattern="/.*/"/></div>
    </div>
    <button class="btn btn-primary" ng-click="editComputer(computer)" ng-disabled="computerForm.$invalid">Save</button>
</div>
</form>